@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}
.logo {
  display: grid;
  grid-column: 2/3;
  justify-items: center;
}

.header-right {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.moon {
  width: 25px;
  height: 25px;
}
.moon img {
  width: 100%;
}
.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
input {
  border-radius: 20px;
  padding: 5px;
  border: none;
  background-color: rgb(149, 153, 244);
}

.icone {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 100%;
  float: left;
  position: absolute;
  left: 15px;
}
/* Main */
main {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
  padding: 2px 20px;
}
/* Navigation */
.accueil {
  background-color: rgb(160, 158, 253);
}
.videos {
  background-color: rgb(255, 153, 121);
}
.temoignages {
  background-color: rgb(255, 212, 92);
}
.contact {
  background-color: rgb(121, 228, 200);
}
/* Navigation pages */
.nav-pages {
  padding-left: 40px;
  position: absolute;
  height: 20px;
  top: -22px;
  z-index: -1;
}
.nav-pages a {
  margin: 5px;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: bold;
}
.nav-pages a:hover {
  color: black;
}
/* Navigation categories */
.nav-categories {
  display: flex;
  flex-direction: column;
}
.categories-all-pages {
  width: 30%;
}

/* Footer */
footer {
  background-color: rgb(169, 166, 245);
  padding: 20px 10px;
}
.footer-details {
  display: flex;
}
.logo-footer {
  display: flex;
  gap: 10px;
}
.logo-footer img {
  width: 100px;
  height: 50px;
}
.logo-footer-left,
.logo-footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacttest {
  display: flex;
  flex-direction: column;
}
.nous {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nous img {
  width: 200px;
}
.contacter,
.newsletter {
  background-color: rgb(255, 201, 52);
  border-radius: 5px;
}

/* Page erreur */
.wrapper {
  max-width: 1200px;
  height: 100vh;
}
.details-page-erreur {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  width: 80%;
  height: 80vh;
}
.message-erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-erreur a {
  color: rgb(160, 158, 253);
}
.image-erreur {
  display: flex;
  align-items: center;
  justify-content: center;
}
